<div
  class="component"
  [class.mcq]="!all"
  action="
"
>
  <p>question {{ qn.qn }}</p>
  <!-- case for the first -->
  @for (letter of options; track $index) {
  <div class="control">
    <!-- code for results -->
    @if (qn.type=='mmq') {
    <input
      type="checkbox"
      [name]="letter.option.toLowerCase()"
      [id]="letter.option.toLowerCase()"
      [value]="letter.option"
      [checked]="letter.selected"
      (change)="select($event)"
    />

    }@if(qn.type=='mcq'){
    <input
      type="radio"
      [name]="qn.qn"
      [id]="letter.option.toLowerCase()"
      [value]="letter.option"
      [checked]="letter.selected"
      (change)="select($event)"
    />
    }
    <label [htmlFor]="letter.option.toLowerCase()">{{ letter.option }}</label>
  </div>
  } @if(all){ @for (letter of optionsExtra; track $index) {
  <div class="control">
    <!-- code for results -->
    @if (qn.type=='mmq') {
    <input
      type="checkbox"
      [name]="letter.option.toLowerCase()"
      [id]="letter.option.toLowerCase()"
      [value]="letter.option"
      [checked]="letter.selected"
      (change)="select($event)"
    />

    }@if(qn.type=='mcq'){
    <input
      type="radio"
      [name]="qn.qn"
      [id]="letter.option.toLowerCase()"
      [value]="letter.option"
      [checked]="letter.selected"
      (change)="selectXtra($event)"
    />
    }
    <label [htmlFor]="letter.option.toLowerCase()">{{ letter.option }}</label>
  </div>
  } }
  <button class="btn-basic" (click)="toggleOptions()">
    {{ all ? "SHOW LESS" : "SHOW MORE" }}
  </button>
</div>
