input {
  margin-right: 10px;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.control {
  margin-bottom: 10px;
}
p {
  background-color: white;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 3px;
}
.component:hover {
  background-color: bisque;
}
.marked-correct {
  background-color: aqua;
  color: black;
}
// .marked-incorrect {
//   background-color: red;
//   color: white;
// }
