@import "../../styles/create.scss";
.selected {
  background-color: blue;
  color: white;
}
.page__heading {
  position: sticky;
  top: 0;
}
.selected {
  background-color: blue;
  color: white;
}
select {
  border: 3px solid gold;
}
@media (max-width: 985px) {
  select[name="subject"] {
    display: none;
  }
}
@media (max-width: 850px) {
  select[name="subject"],
  select[name="topic"] {
    display: none;
  }
}
@media (max-width: 850px) {
  select[name="subject"],
  select[name="topic"] {
    display: none;
  }
}
