<div class="create-container">
  <div class="component flex-center">CREATE PLAN</div>
  @if(!loading){
  <form
    class="component"
    action=""
    class="component"
    [formGroup]="form"
    (ngSubmit)="save()"
  >
    <div class="control">
      <!-- <label for="subject">subject</label> -->
      <textarea
        type="text"
        id="plan"
        name="plan"
        placeholder="write plan ..."
        autocomplete="off"
        formControlName="plan"
      ></textarea>
    </div>
    <div class="control form-flex">
      <!-- <label class="label-hidden" for="subject">subject</label> -->
      <button class="btn" type="submit " [disabled]="!form.valid">SAVE</button>
    </div>
  </form>
  }@else if (loading) {
  <app-loader></app-loader>
  }
  <div class="component">
    <div class="created-heading">
      CREATED ITEMS {{ items.length > 0 ? items.length : "" }}
    </div>
    @if(items.length>0){
    <ul>
      @for (item of items; track $index) {
      <li>
        <div class="note">
          <div class="note__index">{{ $index + 1 }}</div>
          <div class="note__action">
            <button class="btn-round btn--danger">delete</button>
          </div>
          <div class="note__content">
            {{ item.value }}
          </div>
        </div>
      </li>
      }
    </ul>

    }
  </div>
</div>
