<header>
  <div class="title">STUDYAPP</div>
  <nav>
    <ul class="main-nav">
      <li class="menu">
        <button class="link link-margin" (click)="toggleMenu()">MENU</button>
      </li>
      <li>
        <a class="link link-margin" routerLink="notes" href="">notes</a>
      </li>
      <li>
        <a class="link link-margin" routerLink="questions" href="">questions</a>
      </li>
      <li>
        <a class="link link-margin" routerLink="quotes" href="">quotes</a>
      </li>
    </ul>
  </nav>
</header>
