<header>
  <div class="title">KISOMO</div>
  <nav>
    <ul class="main-nav">
      <li class="menu">
        <button class="link link-margin" (click)="toggleMenu()">MENU</button>
      </li>
      <li>
        <a
          class="link link-margin"
          routerLink="notes"
          [class.selected]="'/notes' == document.location.pathname"
          >notes</a
        >
      </li>
      <li>
        <a
          class="link link-margin"
          routerLink="questions"
          [class.selected]="'/questions' == document.location.pathname"
          >questions</a
        >
      </li>
      <li>
        <a
          class="link link-margin"
          routerLink="quotes"
          [class.selected]="'/quotes' == document.location.pathname"
          >quotes</a
        >
      </li>
      <li>
        <a
          class="link link-margin"
          routerLink="todos"
          [class.selected]="'/todos' == document.location.pathname"
          >todos</a
        >
      </li>
      <li>
        <a
          class="link link-margin"
          routerLink="plans"
          [class.selected]="'/plans' == document.location.pathname"
          >plans</a
        >
      </li>
      <li>
        <a
          class="link link-margin"
          routerLink="articles"
          [class.selected]="'/articles' == document.location.pathname"
          >articles</a
        >
      </li>
    </ul>
  </nav>
</header>
