header {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}
// nav {
//   display: flex;
//   align-items: center;
//   justify-items: center;
// }
.title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}
.main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-nav > li {
  margin-right: 5px;
}
.menu {
  position: absolute;
  left: 0;
  margin-left: 10px;
}
.selected {
  background-color: blue;
  color: white;
}
