.dropdown-menu {
  border-radius: 10px;
  background-color: rgb(244, 240, 240);
  margin: 10px;
}
.title {
  margin: 5px;
  padding: 5px;
}
li {
  margin: 5px;
}
.selected {
  background-color: blue;
  color: white;
}
