<div class="page-container">
  <div class="flexed-page">
    <div class="flexed-page__left">
      <div class="create-container page page-main">
        <div class="component">
          <div class="flex-center page__heading">ARTICLES</div>
          <div class="flex">
            <div class="flex">
              <button
                class="all"
                [class.tool]="tool == 'all'"
                (click)="searchAll()"
              >
                ALL
              </button>
              <button
                class="all"
                [class.tool]="tool == 'date'"
                (click)="toggleTool('date')"
              >
                DATE
              </button>
              <button
                class="all"
                [class.tool]="tool == 'title'"
                (click)="toggleTool('title')"
              >
                TITLE
              </button>
              <button
                class="all"
                [class.tool]="tool == 'author'"
                (click)="toggleTool('author')"
              >
                AUTHOR
              </button>
            </div>
            <div class="searchbox-container">
              @if(tool=='date' || tool=='all'){
              <input
                class="searchbox"
                type="date"
                (change)="searchDate($event)"
              />
              } @if(tool=='title'){
              <input
                class="searchbox"
                type="text"
                placeholder="e.g snowstorm in las.."
                (change)="searchTitle($event)"
              />
              } @if(tool=='author'){
              <input
                class="searchbox"
                type="text"
                placeholder="e.g stephen hawking"
                (change)="searchAuthor($event)"
              />
              }
            </div>
          </div>
        </div>
        @if(items.length>0){
        <div class="component">
          <p class="flex-center">list of articles ({{ items.length }})</p>
          <ul>
            @for (item of items; track $index) {
            <li
              [innerHTML]="item.title"
              (click)="selectArticle(item.title)"
            ></li>
            }
          </ul>
          <!-- <div class="paginated flex">
      <button (click)="paginateBackward()">back</button>
      <div>
        showing {{ paginated.articles.length }} of {{ this.all_Items.length }}
      </div>
      <button (click)="paginateForward()">more</button>
    </div> -->
        </div>
        } @if(article!=undefined){
        <div class="component" id="article">
          <article-render [article]="article"></article-render>
        </div>
        }
        <!-- @if (loading) {
      <app-loader></app-loader>
      } -->
      </div>
    </div>
    <div class="flexed-page__right">
      @if(all_Items.length>0){
      <div class="component">
        <p class="flex-center">More articles</p>
        <ul>
          @for (item of paginated.articles; track $index) {
          <li [innerHTML]="item.title" (click)="selectArticle(item.title)"></li>
          }
        </ul>
        <div class="paginated flex">
          <button (click)="paginateBackward()">
            <fa-icon [icon]="leftArrow"></fa-icon>
          </button>
          <div>
            showing {{ paginated.articles.length }} of
            {{ this.all_Items.length }}
          </div>
          <button class="blue" (click)="paginateForward()">
            <fa-icon [icon]="rightArrow"></fa-icon>
          </button>
        </div>
      </div>
      }@else {
      <div class="component flex-center">
        <p>
          no articles. write more <a routerLink="/create-articles"> here</a>
        </p>
      </div>
      }
    </div>
  </div>
  @if(loading){
  <prompt-confirm></prompt-confirm>
  }
</div>
