@import "../../styles/create.scss";
ul {
  padding: 10px;
}
li {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.page {
  position: relative;
}
.sticky-header {
  position: sticky;
  top: 0;
}
.page__heading {
  margin-bottom: 5px;
}
.complete-container {
  display: flex;
  justify-content: flex-end;
}
.complete {
  background-color: rgb(165, 217, 165);
  color: white;
}
.complete:hover {
  background-color: blue;
  color: white;
}

.completed:hover {
  cursor: not-allowed;
  background-color: inherit;
  color: inherit;
}
.all {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 5rem;
}
.all:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}
.tool {
  background-color: rgb(228, 158, 228);
  color: white;
}
.searchbox-container {
  flex: 1 1 auto;
}
.flex {
  display: flex;
}
.paginated > div {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginated > button {
  min-width: 5rem;
  border-radius: 5px;
}
.blue {
  background-color: blue;
  color: white;
}
li {
  margin-bottom: 5px;
}
li:hover {
  background-color: aqua;
  color: black;
  cursor: pointer;
}
// flexing the page
.page-container {
  height: 100%;
  position: relative;
}
.flexed-page {
  height: 100%;
  display: flex;
}
.flexed-page__left {
  flex: 1 1 70%;
}
.flexed-page__right {
  flex: 1 1 30%;
}
