@if (store.loading()) {
<div class="content">
  <load-indicator [message]="'processing request'"></load-indicator>
</div>
}@else {
<form class="subject-form" [formGroup]="form" (ngSubmit)="createItem()">
  <div class="form-controls">
    <mat-form-field class="form-control">
      <mat-label>author</mat-label>
      <input matInput type="text" formControlName="author" />
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label>enter quote and press enter</mat-label>
      <textarea matInput type="text" formControlName="quote"></textarea>
    </mat-form-field>
    <button mat-flat-button>CREATE</button>
  </div>
</form>
<div class="created">
  <created
    [items]="store.createdQuotes()"
    (onDelete)="deleteItem($event)"
    class="control"
  />
</div>
}
