<div class="content">
  <h1>NOTES</h1>
  <form class="component" [formGroup]="form" (ngSubmit)="getNotes()">
    <mat-form-field class="control">
      <mat-label>select subject</mat-label>
      <mat-select
        matInput
        #subjectInput
        (valueChange)="setSubject(subjectInput.value)"
      >
        @for (item of appState.subjects(); track $index) {
        <mat-option [value]="item.name">
          {{ item.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="control">
      <mat-label>select topic</mat-label>
      <mat-select matInput formControlName="topic">
        @for (item of appState.filteredTopics(); track $index) {
        <mat-option [value]="item.name">
          {{ item.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-fab>
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <div class="notes">
    @if(store.loading()){
    <load-indicator [message]="'processing request'"></load-indicator>
    }@else {

    <ul>
      @for (item of store.notes(); track $index) {
      <li class="note">
        {{ item.title }}
      </li>
      }
    </ul>
    }
  </div>
</div>
