<div class="create-container page">
  <div class="component">
    <div class="flex-center">MANAGE SUBTOPICS</div>
    <form class="form-flex" [formGroup]="form" (ngSubmit)="filterAll()">
      <div class="control"><button class="btn">ALL</button></div>
      <div class="control">
        <select
          type="text"
          id="subject"
          name="subject"
          formControlName="subject"
          (change)="filterSubject($event)"
        >
          <option value="" selected disabled>select subject</option>
          @for (item of all_subjects; track $index) {
          <option [value]="item.name">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="control">
        <select
          type="text"
          id="topic"
          name="topic"
          formControlName="topic"
          (change)="filterTopic($event)"
        >
          <option value="" selected disabled>select topic</option>
          @for (item of topics(); track $index) {
          <option [value]="item.name">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="control">
        <select
          type="text"
          id="subtopic"
          name="subtopic"
          formControlName="subtopic"
          (change)="filterSubtopic($event)"
        >
          <option value="" selected disabled>select subtopic</option>
          @for (item of subtopics(); track $index) {
          <option [value]="item.name">{{ item.name }}</option>
          }
        </select>
      </div>
    </form>
  </div>

  <div class="component">
    <div class="created-heading">SHOWING {{ items().length }} SUBTOPICS</div>
    @if(items().length>0){
    <table>
      <thead>
        <tr>
          <th>sn</th>
          <th>id</th>
          <th>topic</th>
          <th>subtopic</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items(); track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item._id }}</td>
          <td [innerHTML]="item.topicID"></td>
          <td [innerHTML]="item.name"></td>
          <td>
            <button class="btn-round btn--danger" (click)="onDelete(item._id)">
              delete
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
  @if(loading){
  <prompt-confirm></prompt-confirm>
  } @if(confirm){
  <prompt-confirm
    [message]="message"
    (onConfirm)="deleteConfirm($event)"
  ></prompt-confirm>
  }
</div>
