<div class="content">
  <h1>PLANS</h1>
  <mat-button-toggle-group #filter>
    <mat-button-toggle value="all">all</mat-button-toggle>
    <mat-button-toggle value="pending">pending</mat-button-toggle>
    <mat-button-toggle value="completed">completed</mat-button-toggle>
  </mat-button-toggle-group>
  @if (!store.loading()) {

  <todo-list [items]="store.filteredPlans()" (onUpdate)="updateList($event)" />

  }@else {
  <load-indicator [message]="'processing request'"></load-indicator>
  }
</div>
