<div class="content">
  <h1>PLANS</h1>
  <mat-form-field name="todo" class="todo-input">
    <mat-label>write a plan (more like) and press enter</mat-label>
    <input matInput #input (keyup.enter)="onAddPlan(input.value)" />

    <mat-icon matTextSuffix>edit</mat-icon>
  </mat-form-field>
  <div class="component">
    <mat-button-toggle-group #filter (change)="onFilterPlan($event)">
      <mat-button-toggle value="all">all</mat-button-toggle>
      <mat-button-toggle value="pending">pending</mat-button-toggle>
      <mat-button-toggle value="completed">completed</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  @if (!store.loading()) {
  <todo-list [items]="store.filteredPlans()" (onUpdate)="updateList($event)" />

  }@else {
  <mat-spinner></mat-spinner>
  }
</div>
