<div class="content">
  <h1>ADMIN PAGE</h1>

  <mat-tab-group selectedIndex="" class="tabs">
    <mat-tab class="tab" label="study questions">
      <create-studyquestions />
    </mat-tab>
    <mat-tab class="tab" label="articles">
      <create-article />
    </mat-tab>
    <mat-tab class="tab" label="exams">
      <create-questions />
    </mat-tab>
    <mat-tab class="tab" label="todos">
      <create-todos />
    </mat-tab>
    <mat-tab class="tab" label="plans">
      <create-plans />
    </mat-tab>
    <mat-tab class="tab" label="projects">
      <create-projects />
    </mat-tab>
    <mat-tab class="tab" label="notes">
      <create-notes />
    </mat-tab>

    <mat-tab class="tab" label="quotes">
      <create-quotes />
    </mat-tab>
    <mat-tab class="tab" label="subject">
      <create-subjects />
    </mat-tab>
    <mat-tab class="tab" label="topic">
      <create-topics />
    </mat-tab>
    <mat-tab class="tab" label="books">
      <create-books />
    </mat-tab>
  </mat-tab-group>
</div>
