.content {
  //   display: flex;
  //   flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
.content::-webkit-scrollbar {
  display: none;
}
h1 {
  //   position: sticky;
  //   top: 0;
  background-color: black;
  color: white;
  //   z-index: 1;
  width: 100vw;
  text-align: center;
}
.tabs {
  height: 100%;
}
.tab {
  width: 100%;
}
.error-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
