.confirm-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-box {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(132, 209, 237);
  max-width: 20rem;
  min-width: 20rem;
}
.confirm-message {
  background-color: white;
  margin: 5px;
  padding: 5px;
  min-height: 5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-actions {
  display: flex;
  justify-content: center;
  padding: 5px;
}
button {
  margin-left: 10px;
  color: white;
  min-width: 4rem;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
