article {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  color: black;
}
@media (min-width: 769px) {
  article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
  }
}
.title {
  font-size: 2.2rem;
  margin-bottom: 5px;
  color: black;
  text-transform: capitalize;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
p,
ul,
ol {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 100;
}
.article-quote {
  font-style: italic;
}
.attribute {
  font-weight: 600;
  text-transform: capitalize;
}
em {
  background-color: aqua;
  font-style: italic;
}
