<article>
  <div class="title" [innerHTML]="article.title"></div>
  @for (item of article.content; track $index) { @if (item.format=='paragraph')
  {
  <p [innerHTML]="item.composition.value"></p>
  } @if (item.format=='quote') {
  <p class="article-quote">
    &ldquo; {{ item.composition.value }}&rdquo;-
    @if(item.composition.attribute!=''){
    <span class="attribute">
      {{ item.composition.attribute }}
    </span>

    }
  </p>
  } @if (item.format=='ulist') {
  <ul>
    @for (li of item.composition.values; track $index) {
    <li [innerHTML]="li.value"></li>
    }
  </ul>
  } @if (item.format=='olist') {
  <ol>
    @for (li of item.composition.values; track $index) {
    <li [innerHTML]="li.value"></li>
    }
  </ol>
  } @if (item.format=='heading') {
  <h2 [innerHTML]="item.composition.value"></h2>
  } }
</article>
