.article {
  //   display: flex;
  //   flex-direction: column;
  width: 60%;
  margin: 2px auto;
  padding: 10px auto;
}
.heading {
  //   display: flex;
  //   flex-direction: column;
  width: 60%;
  margin: 2px auto;
  padding: 10px auto;
}
.h-1 {
  font-size: 1.5rem;
}
.h-2 {
  font-size: 0.8rem;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
}
p::first-letter {
  text-transform: capitalize;
}
h1 {
  margin-bottom: 10px;
  margin-top: 20px;
}
