.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  padding: 40px 60px;
  border-radius: 10px;
  background-color: lightgrey;
}
form:hover {
  border: 1px solid rgb(43, 43, 44);
}
form {
  display: flex;
  flex-direction: column;
}
