<div class="create-container page">
  <div class="component flex-center page__heading">QUOTES</div>
  @if(loading){
  <app-loader></app-loader>
  }@else if(!loading){
  <div class="component">
    <input
      class="searchbox"
      type="text"
      placeholder="search author"
      (keyup)="search($event)"
    />
  </div>
  @if(items.length>0){
  <div class="component">
    <!-- fetched notes will display -->

    <ul>
      @for (item of items; track $index) {
      <li>&ldquo;{{ item.value }}&rdquo; -{{ item.author }}</li>
      }
    </ul>
  </div>
  } }
</div>
