<div class="component">
  <form
    class="component"
    action=""
    class="component"
    [formGroup]="form"
    (ngSubmit)="add()"
  >
    <div class="control">
      <!-- <label for="subject">subject</label> -->
      <textarea
        type="text"
        id="content"
        name="content"
        placeholder="write content ..."
        autocomplete="off"
        formControlName="content"
      ></textarea>
      <div class="control form-flex">
        <button class="btn" type="submit" [disabled]="!form.valid">
          ADD TO LIST
        </button>
      </div>
      <div class="flex-center">
        @if(ordered){
        <ol>
          @for (item of values; track $index) {
          <li [innerHTML]="item.value"></li>
          }
        </ol>
        } @if(!ordered){
        <ul>
          @for (item of values; track $index) {
          <li [innerHTML]="item.value"></li>
          }
        </ul>
        }
      </div>
    </div>
  </form>
  @if (values.length>0) {
  <div class="control form-flex">
    <button class="btn" [disabled]="values.length <= 0" (click)="save()">
      SAVE
    </button>
  </div>
  }
</div>
