.app {
  height: 100vh;
  margin-top: 0;
}
.app-content {
  height: 80%;

  padding: 10px;
  width: 100%;
}
.app-footer {
  height: 5%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: rgb(104, 101, 101);
  width: 100%;
}
.app-toolbar {
  height: 15%;
  width: 100%;
}
.menu-link {
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.active-link {
  color: red;
}
.clear-left {
  margin-left: auto;
}
.header-action {
  margin-left: 40px;
}
