@if (store.loading()) {
<div class="content">
  <load-indicator [message]="'processing request'"></load-indicator>
</div>
}@else {
<form class="subject-form" [formGroup]="form" (ngSubmit)="createBook()">
  <mat-form-field class="control-subject">
    <mat-label>select subject</mat-label>
    <mat-select formControlName="subject">
      @for (subject of appStore.subjects(); track $index) {
      <mat-option [value]="subject.name">{{ subject.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="control">
    <mat-label>enter book </mat-label>
    <input matInput type="text" formControlName="book" />
  </mat-form-field>
  <button mat-fab><mat-icon>add</mat-icon></button>
</form>
<div class="created">
  <created
    [items]="store.createdBooks()"
    (onDelete)="deleteItem($event)"
    class="control"
  />
</div>
}
