<div class="create-container page-main">
  <div class="component">
    <div class="flex-center">CREATE ARTICLES</div>
    <div class="switches">
      <button [class.tool]="tool == 'preview'" (click)="selectTool('preview')">
        preview
      </button>
      <button [class.tool]="tool == 'title'" (click)="selectTool('title')">
        title
      </button>
      <button
        [class.tool]="tool == 'paragraph'"
        (click)="selectTool('paragraph')"
      >
        paragraph
      </button>
      <button [class.tool]="tool == 'heading'" (click)="selectTool('heading')">
        heading
      </button>
      <button [class.tool]="tool == 'olist'" (click)="selectTool('olist')">
        olist
      </button>
      <button [class.tool]="tool == 'ulist'" (click)="selectTool('ulist')">
        ulist
      </button>
      <button [class.tool]="tool == 'quote'" (click)="selectTool('quote')">
        quote
      </button>
      <button [class.tool]="tool == 'save'" (click)="preSave()">save</button>
    </div>
  </div>

  @if (!loading && tool=='preview') {
  <div class="component">
    <article-render
      [article]="{ title: form.value.title ?? '', content }"
    ></article-render>
  </div>
  } @if (!loading && tool=='ulist') {
  <list-creator [ordered]="false" (onCreate)="onCreate($event)"></list-creator>
  } @if (!loading && tool=='olist') {
  <list-creator [ordered]="true" (onCreate)="onCreate($event)"></list-creator>
  } @if (!loading && tool=='heading') {
  <heading-creator (onCreate)="onCreate($event)"></heading-creator>
  } @if (!loading && tool=='paragraph') {
  <paragraph-creator (onCreate)="onCreate($event)"></paragraph-creator>
  } @if (!loading && tool=='quote') {
  <article-quote-creator (onCreate)="onCreate($event)"></article-quote-creator>
  } @if (!loading && tool=='title') {
  <form
    class="component"
    action=""
    class="component"
    [formGroup]="form"
    (ngSubmit)="preSave()"
  >
    <!-- <div class="control form-flex">
      
      <button class="btn" type="submit " [disabled]="!form.valid">SAVE</button>
    </div> -->
    <div class="control">
      <!-- <label for="subject">subject</label> -->
      <textarea
        type="text"
        id="title"
        name="title"
        placeholder="write title ..."
        autocomplete="off"
        formControlName="title"
      ></textarea>
    </div>
  </form>
  } @else if (loading) {
  <prompt-confirm />
  } @if (prompt) {
  <prompt-confirm
    [message]="'confirm submit article'"
    (onConfirm)="save($event)"
  ></prompt-confirm>
  } @if(items.length>0){
  <div class="component">
    <div class="created-heading">CREATED ARTICLES</div>
    @if(items.length>0){
    <table>
      <thead>
        <tr>
          <th>sn</th>
          <th>id</th>
          <th>article</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item._id }}</td>
          <td [innerHTML]="item.title"></td>
          <td><button class="btn-round btn--danger">delete</button></td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
  }
</div>
