@import "../../styles/create.scss";
ul {
  border-radius: 10px;
  padding: 10px;
}
li {
  margin-top: 5px;
  margin-bottom: 5px;
}
.note {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: auto auto;
  background-color: rgb(44, 44, 50);
  padding: 10px;
  border-radius: 10px;
}
.note__index {
  text-align: left;
  grid-column: 1/2;
  grid-row: 1/2;
}
.note__action {
  grid-column: 2/3;
  grid-row: 1/2;
}
.note__content {
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 10px;
  background-color: white;
  border-top: 1px solid black;
  min-height: 2.5rem;
  border-radius: 5px;
}
.note__index,
.note__action {
  padding: 5px;

  color: white;
  border-radius: 10px;
}
// the switches
.switches {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.switches button {
  margin-left: 5px;
  min-width: 4rem;
}
.switches button:hover {
  background-color: blue;
  color: white;
}
.tool {
  background-color: magenta;
  color: white;
}
