$padding: 10px;
.app {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 15% 80% 5%;
  height: 100%;
}
.close-menu {
  display: none;
}
.app__header {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: $padding;
}
.app__content {
  grid-column: 1/3;
  grid-row: 2/3;
  padding: $padding;
  display: flex;
  width: 100%;
}
.app__menu {
  flex: 1 1 auto;
}
.app__main {
  flex: 1 1 70%;
}

.app__footer {
  grid-column: 1/3;
  grid-row: 3/4;
  border-top: 1px solid black;
}
