<div class="app">
  <div class="app__header">
    <app-header (onToggleMenu)="toggleMenu()"></app-header>
  </div>
  <div class="app__content">
    @if(open){
    <div class="app__menu">
      <app-main-menu
        [open]="open"
        (onToggleMenu)="toggleMenu()"
      ></app-main-menu>
    </div>
    }

    <div class="app__main">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="app__footer flex-center">
    created and designed by tanprograma LLC&copy; {{ createDate }}-{{
      currentDate
    }}
  </div>
</div>
