.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
h1 {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  z-index: 1;
  width: 100vw;
  text-align: center;
}
.todo-input {
  min-width: 50%;
  margin-top: 5px;
}

.todo-list {
  width: auto;
}
.todo-item {
  display: flex;
  align-items: center;
}
.delete-todo {
  margin-right: 20px;
}
