@if (store.loading()) {
<div class="content">
  <load-indicator [message]="'processing request'"></load-indicator>
</div>
}@else {
<div class="content">
  <form class="subject-form" [formGroup]="form" (ngSubmit)="createNote()">
    <div class="flexed">
      <mat-form-field class="control">
        <mat-label>subject</mat-label>
        <mat-select
          matInput
          formControlName="subject"
          #subjectInput
          (valueChange)="setSubject(subjectInput.value)"
        >
          @for (item of appStore.subjects(); track $index) {
          <mat-option [value]="item.name"> {{ item.name }} </mat-option>}
        </mat-select>
      </mat-form-field>

      <mat-form-field class="control">
        <mat-label>topic</mat-label>
        <mat-select matInput formControlName="topic">
          @for (item of appStore.filteredTopics(); track $index) {
          <mat-option [value]="item.name">{{ item.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button type="submit" mat-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>
  <div class="created">
    <created [items]="notes" (onDelete)="removeNote($event)"></created>
  </div>
  <div class="flexed">
    <button mat-flat-button (click)="addNotes()" [disabled]="notes.length == 0">
      save notes
    </button>
  </div>
</div>
}
