.content {
  height: 100%;
  overflow-y: scroll;
}
.subject-form,
.created {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.control {
  margin: 2px;
  flex: 0 0 15%;
}
.control-full {
  flex: 0 0 90%;
}
.flexed {
  flex: 0 1 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.questions {
  flex: 0 1 60%;
}
