<div class="create-container">
  <div class="component flex-center">CREATE SUBJECT</div>
  <div class="component">
    <input class="searchbox" type="text" placeholder="search subject" />
  </div>
  <form
    class="component"
    action=""
    class="component form-flex"
    [formGroup]="form"
    (ngSubmit)="save()"
  >
    <div class="control">
      <!-- <label for="subject">subject</label> -->
      <input
        type="text"
        id="subject"
        name="subject"
        placeholder="enter subject"
        autocomplete="off"
        formControlName="subject"
      />
    </div>
    <div class="control">
      <!-- <label class="label-hidden" for="subject">subject</label> -->
      <button class="btn" type="submit " [disabled]="!form.valid">SAVE</button>
    </div>
  </form>
  <div class="component">
    <div class="created-heading">CREATED ITEMS</div>
    @if(items.length>0){
    <table>
      <thead>
        <tr>
          <th>sn</th>
          <th>id</th>
          <th>subject</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item._id }}</td>
          <td>{{ item.name }}</td>
          <td><button class="btn-round btn--danger">delete</button></td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
