@import "../../styles/create.scss";
ul {
  padding: 10px;
}
li {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.page {
  position: relative;
}
.page__heading {
  position: sticky;
  top: 0;
}
