<div class="create-container page">
  <div class="component flex-center page__heading">NOTES</div>
  @if (loading) {
  <app-loader></app-loader>
  }@else if (!loading) {
  <form
    class="component"
    action=""
    class="component"
    [formGroup]="form"
    (ngSubmit)="search()"
  >
    <div class="form-flex">
      <div class="control">
        <label for="subject">subject</label>
        <select
          type="text"
          id="subject"
          name="subject"
          formControlName="subject"
          (change)="selectTopics($event)"
        >
          <option value="" selected disabled>select subject</option>
          @for (item of subjects; track $index) {
          <option [value]="item.name">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="control">
        <label for="topic">topic</label>
        <select
          type="text"
          id="topic"
          name="topic"
          formControlName="topic"
          (change)="selectSubtopics($event)"
        >
          <option value="" selected disabled>select topic</option>
          @for (item of filteredTopics; track $index) {
          <option [value]="item.name">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="control">
        <label for="subtopic">subtopic</label>
        <select
          type="text"
          id="subtopic"
          name="subtopic"
          placeholder="enter subtopic"
          autocomplete="off"
          formControlName="subtopic"
        >
          <option value="" selected disabled>select subtopic</option>
          @for (item of filteredSubtopics; track $index) {
          <option [value]="item.name">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="control">
        <label class="label-hidden" for="subject">subject</label>
        <button class="btn" type="submit " [disabled]="!form.valid">
          SEARCH
        </button>
      </div>
    </div>
  </form>
  @if(items.length>0){
  <div class="component">
    <!-- fetched notes will display -->

    <ul>
      @for (item of items; track $index) {
      <li>
        {{ item.value }}
      </li>
      }
    </ul>
  </div>
  } }
</div>
