.main-menu {
  height: 100%;
  background-color: lightgrey;
}
.header,
.main {
  margin: 10px;
}
.header {
  height: 10%;
  padding: 10px;
}
.main {
  height: 90%;
  overflow-y: scroll;
}
.close-btn {
  text-align: left;
}
